@use '../utilities/functions' as *;

.home
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: background-primary();
    padding-top: 5rem;
    gap: 0.5rem;
    
    & ul, li
    {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        gap: 1rem;
    }

    &__title
    {
        color: text-primary();
        font-family: monospace;
        font-size: 1.5rem;
    }

    &__container
    {
        display: flex;
        flex-direction: column;

        padding: 1rem;
        max-width: 85%;

        background-color: background-secondary();
        box-shadow: 0.25rem 0.25rem accent-detail();
        border: 0.1rem solid background-tertiary();
        border-radius: 1rem;

        transition: width 0.4s ease-out;
        transition: max-height 0.4s ease-out;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar 
        {
            width: 1.5rem;
        }
    
        &::-webkit-scrollbar-track 
        {
            border-radius: 0.2rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
        
        &::-webkit-scrollbar-thumb 
        { 
            cursor: ns-resize;
            border: 0.5rem solid background-secondary();
            background: background-tertiary();
            border-radius: 1rem;
            margin: 1rem;
        }

        @-moz-document url-prefix() 
        {
            scrollbar-color: background-tertiary() background-secondary();
            scrollbar-width: thin;
        }
    }

    &__header
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__loading
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10rem;

        & > svg
        {
            width: 4rem;
            fill: accent-detail();
            filter: drop-shadow(2px 2px 3px black);
        
            @keyframes loadingIcon
            {
                0%, 57.14% 
                {
                    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
                    transform: translate(0);
                }
                28.57% 
                {
                    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
                    transform: translateY(-6px);
                }
                100% 
                {
                    transform: translate(0);
                }
            }
        }
    }

    &__counter
    {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        
        & > h2
        {
            color: text-primary();
        }
    }
}