@use '../utilities/functions' as *;

.item-container
{
    display: flex;
    align-items: center;
    padding: 1rem;
    min-height: 10rem;
    width: 100%;
    gap: 1rem;

    border-radius: 0.5rem;
    background-color: background-primary();

    &__image
    {
        width: 20%;
        aspect-ratio: 1 / 1;
        object-fit: contain;

        @media (max-width: 700px)
        {
            width: 30%;
        }
    }

    &__text-container
    {
        color: text-primary();

        // Item name.
        & > h3
        {
            @media (max-width: 700px)
            {
                font-size: 1rem;
            }
        }

        // Star rating container.
        & > div
        {
            margin-bottom: 0.25rem;
            display: flex;
            gap: 0.25rem;
        }
    }

    &__open-button
    {
        border-radius: 0.25;
    }
}